
ul, li
{
    text-decoration: none;
    list-style: none;
}
.breadcrumb
{
    background-color: white;
}
.header
{
    height: 200px;
    background-color: #9abdf5;
}
.card
{
    height: 70vh;
    background-color:white;
    min-width: 400px;
    max-width: 500px;
    margin-bottom: 20vh;
    border : 1px solid #9D64B9;
    
}

.h1
{
    text-align: center;
}


.card-profil
{
    border-radius: 100%;
    
}

 .footer
{
    width: 100%;
    height: 200px;
    background: linear-gradient(90deg, rgba(92,96,217,1) 0%, rgba(157,100,185,1) 50%);
}

/*_______________
message
______________*/

.row-content 
{
    background-color: #f2f2f2;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
}
body
{
    background-color:#f2f2f2;
}
    .col-content-message
{
    
    border: 1px solid#f2f2f2;
    
}

.message-identity, .message-position
{
    text-align: center;
}
.message-signature
{
    border-top: 1px solid #f2f2f2;
}
.row-message
{
    background-color: white;
    border: 1px solid #f2f2f2;
    min-width: 80%;;
    border-radius: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}
.btn-outline-info
{
    background-color: #9D64B9;
    border: 1px solid #9D64B9;
    color:white;
}