
  
  body {
    
    color: #5C60D9;
    background-color:#5C60D9;
  }
  body a {
    text-decoration: none;
  }
  
  ul, li a {
    list-style: none;
    color: white;
  }
  
  li a:hover {
    color: #5C60D9;
  }
 
  
  .col-md-4
  {
      border: 1px solid black;
      
  }
  .header
  {
      
      background-color:#9D64B9;
      padding-top: 5%;
  }
  .formulaire
  {
      
      width: 200px;
  }

  .general_content
  {
    background-color: #5C60D9;
  }